@inherits LayoutComponentBase

@*<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​How to start making money on desserts?, ​Unlock new skills with a structured curriculum, 2022Image Gallery, ​Skills you will learn, ​Apply now">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="Site1\nicepage.css" media="screen">
    <link rel="stylesheet" href="Site1\Home.css" media="screen">
<div class="page">
        <body data-home-page="Site1\Home.html" data-home-page-title="Home" class="u-body u-xl-mode" data-lang="en">
            <header class="u-clearfix u-header u-header" id="sec-8ea0" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-left u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="About.html" style="padding: 10px 20px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Contact.html" style="padding: 10px 20px;">Contact</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header></body>
    </div>
</head>
</html>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

        <article class="content px-4">
            @Body
        </article>

</div>




*@
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Recipes, CakeRecipes">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="Site2_whole_main_page/nicepage.css" media="screen">
    <link rel="stylesheet" href="Site2_whole_main_page/Home.css" media="screen">
    <meta name="generator" content="Nicepage 5.1.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
@Body
</html>

@*<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="Site2/nicepage.css" media="screen">
    <link rel="stylesheet" href="Site2/Home.css" media="screen">

    <meta name="generator" content="Nicepage 5.1.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
   
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  @Body
  </html>*@

@*
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​How to start making money on desserts?, ​Unlock new skills with a structured curriculum, 2022Image Gallery, ​Skills you will learn, ​Apply now">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="Site1/nicepage.css" media="screen">
    <link rel="stylesheet" href="Site1/Home.css" media="screen">
    <link rel="stylesheet" href="Site1/recipeCard.css" media="screen">
    <meta name="generator" content="Nicepage 4.19.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    <meta name="theme-color" content="#fdb3c4">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>

  <body data-home-page="Site1\Home.html" data-home-page-title="Home" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-8ea0" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
            
            <div class="topbar">
                <ul data-home-page="Pages\Shared\_LoginPartial.cshtml" data-home-page-title="Home" class="u-body u-xl-mode" data-lang="en">
</ul>
                <NavMenu />
            </div>
            <article class="content px-4">
                @Body
            </article>
            
            <nav class="u-align-left u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-nav-container">
                    
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Site1\Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Site1\About.html" style="padding: 10px 20px;">About</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Site1\Contact.html" style="padding: 10px 20px;">Contact</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Site1\Home.html">Home</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Site1\About.html">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Site1\Contact.html">Contact</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-28ae">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div class="u-container-style u-group u-palette-1-base u-group-1">
                    <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                      <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1"> Free consultation</h6>
                    </div>
                  </div>
                  <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-2"> How to start making <span class="u-text-palette-1-base">money</span> on desserts?
                  </h2>
                  <p class="u-align-left u-text u-text-default u-text-3">Sample text. Click to select the Text Element.</p>
                  <a href="https://nicepage.site" class="u-btn u-button-style u-btn-1">read more</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-md u-valign-top-lg u-valign-top-sm u-valign-top-xl u-valign-top-xs u-container-layout-3">
                  <div class="u-image u-image-circle u-image-1" alt="" data-image-width="721" data-image-height="1080"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_662d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-image u-image-circle u-image-1" alt="" data-image-width="756" data-image-height="1080"></div>
        <div class="u-image u-image-circle u-image-2" alt="" data-image-width="720" data-image-height="1080"></div>
        <div class="u-image u-image-circle u-image-3" alt="" data-image-width="721" data-image-height="1080"></div>
        <div class="u-image u-image-circle u-preserve-proportions u-image-4" alt="" data-image-width="721" data-image-height="1080"></div>
        <div class="u-image u-image-circle u-preserve-proportions u-image-5" alt="" data-image-width="720" data-image-height="1080"></div>
        <div class="u-image u-image-circle u-image-6" alt="" data-image-width="721" data-image-height="1080"></div>
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">2022<br>Image <span class="u-text-palette-1-base">Gallery</span>
        </h2>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="carousel_901d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <div class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-grey-40 u-text-1">For Team</h6>
                    <h4 class="u-custom-font u-font-montserrat u-text u-text-2">
                      <span style="font-size: 3rem;" class="u-text-palette-1-base">$0</span>&nbsp;<span style="font-size: 1.25rem; font-weight: 400;">Per Month</span>
                    </h4>
                  </div>
                </div>
                <ul class="u-align-center u-custom-list u-text u-text-3">
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>15 Users
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 2 
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 3 
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 4
                  </li>
                </ul>
                <a href="https://nicepage.review" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-montserrat u-grey-10 u-radius-8 u-text-black u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Upload Free&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="images/545682.png" alt=""></span>
                </a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <div class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-container-style u-expanded-width u-group u-shape-rectangle u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-4">Personal</h6>
                    <h4 class="u-custom-font u-font-montserrat u-text u-text-5">
                      <span style="font-size: 3rem;" class="u-text-palette-1-base">$29</span>&nbsp;<span style="font-size: 1.25rem; font-weight: 400;">Per Month</span>
                    </h4>
                  </div>
                </div>
                <ul class="u-align-center u-custom-list u-text u-text-6">
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>15 Users
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 2 
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 3 
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 4
                  </li>
                </ul>
                <a href="https://nicepage.review" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-montserrat u-palette-1-base u-radius-8 u-text-black u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Proceed Annually&nbsp;<span class="u-file-icon u-icon u-text-black"><img src="images/545682-f228f410.png" alt=""></span>
                </a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <div class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-container-style u-expanded-width u-group u-shape-rectangle u-group-3">
                  <div class="u-container-layout u-container-layout-6">
                    <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-grey-40 u-text-7">Business</h6>
                    <h4 class="u-custom-font u-font-montserrat u-text u-text-8">
                      <span style="font-size: 3rem;" class="u-text-palette-1-base">$59</span>&nbsp;<span style="font-size: 1.25rem; font-weight: 400;">Per Month</span>
                    </h4>
                  </div>
                </div>
                <ul class="u-align-center u-custom-list u-text u-text-9">
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>15 Users
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 2 
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 3 
                  </li>
                  <li>
                    <div class="u-list-icon u-text-black">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">■</div>
                    </div>Feature 4
                  </li>
                </ul>
                <a href="https://nicepage.review" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-montserrat u-grey-10 u-radius-8 u-text-black u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Proceed Annually&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="images/545682.png" alt=""></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-1e54"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the Text Element.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/templates" target="_blank">
        <span>Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.app" target="_blank">
        <span>Best Website Builder</span>
      </a>. 
    </section>
  
</body></html>*@